@use '../abstracts/color' as a;
@use '../mixins/font-size' as *;

/// Adds a button to a link or button element
/// @param {bool} $hollow [false] Whether or not the button will be hollow
@mixin button($hollow: false) {
  display: inline-block;
  padding: 0.75rem 2.25rem;
  border-radius: 4px;

  font-weight: bold;
  text-transform: uppercase;
  @include fs(sm);
  text-decoration: none;

  @if $hollow == true {
    color: a.color('ocean');
    background-color: transparent;
    border: 3px solid a.color('ocean');
  } @else {
    color: a.color('white');
    background-color: a.color('ocean');
  }

  box-shadow: 0 0 0 0 adjust-color($color: a.color('ocean'), $alpha: 1);
  transition: box-shadow 100ms ease-in-out;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px adjust-color($color: a.color('ocean'), $alpha: -0.5);
  }
}
