/// Resets buttons for consistent styles
@mixin button-reset() {
  display: inline-block;
  border: none;
  padding: 0.75rem 2.25rem;
  margin: 0;
  text-decoration: none;
  background: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}
