@use 'sass:list';

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

$font-sizes: (
  '2xs': 0.625rem,
  'xs': 0.6875rem,
  'sm': 0.8125rem,
  'base': (0.875rem, 1rem),
  'lg': (1.625rem, 1.875rem),
  'xl': (1.75rem, 2.375rem)
);

/// Generate a fluid font size from the map above
/// @param {string} $size [base] The font size to get from the map above
@mixin fs($size: 'base') {
  @if false == map-has-key($font-sizes, $size) {
    @error 'No font size exists for "$#{$size}". Check the mixins/font-size file for the available font sizes.';
  }

  $font-size: map-get($font-sizes, $size);

  @if type-of($font-size) == 'list' {
    $min-size: strip-units(list.nth($font-size, 1));
    $max-size: strip-units(list.nth($font-size, 2));
    $min-width: 700;
    $max-width: 1000;

    $vwCoefficient: (1600 * ($max-size - $min-size)) / ($max-width - $min-width);
    $remCoefficient: $min-size - ($min-width * ($max-size - $min-size)) / ($max-width - $min-width);

    font-size: clamp(#{$min-size}rem, calc(#{$vwCoefficient}vw + #{$remCoefficient}rem), #{$max-size}rem);
  } @else {
    font-size: $font-size;
  }
}
